mat-card {
  position: absolute;
  /*width: 100%;*/
  /*height: 100%;*/
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

mat-card-header {
  position: relative;
  top: 0;
  justify-content: start;
}

mat-card-content {
  position: relative;
  height: 77%;
}

mat-card-actions {
  padding-top: 0;
  position: absolute;
  bottom: 20px;
  background-color: lightblue;
}

mat-card-content h2 {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

mat-card-content p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
