<mat-grid-list cols="2" rowHeight="200px">
  <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title> {{ card.title }} </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <h2>{{ card.contentTitle }}:</h2>
        <p>{{ card.contentValue }}</p>

      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-button *ngFor="let action of card.actions" [routerLink]="card.routerLink">{{ action }}</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
