<table mat-table [dataSource]="data" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let inviteCode"> {{ inviteCode.id }} </td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> code </th>
    <td mat-cell *matCellDef="let inviteCode"> {{ inviteCode.code }} </td>
  </ng-container>

  <ng-container matColumnDef="invite_uid">
    <th mat-header-cell *matHeaderCellDef> Ref.id </th>
    <td mat-cell *matCellDef="let inviteCode"> {{ inviteCode.invite_uid }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnTitles"></tr>
  <tr mat-row *matRowDef="let row; columns: columnTitles"></tr>

</table>
