<mat-grid-list cols="2" rowHeight="400px">
  <mat-grid-tile *ngFor="let server of data" colspan="1" rowspan="1">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <!--TODO-->
        <!-- Add a country icon for the card -->
        <mat-card-title>{{ server.server_ip }} </mat-card-title>
        <mat-card-subtitle> {{ server.server_location }} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <div class="list-container">
          <p class="list-title">加密方式(Encryption):</p>
          <p class="list-content">{{ server.config_method }}</p>
        </div>

        <div class="list-container">
          <p class="list-title">协议(Protocol):</p>
          <p class="list-content">{{ server.config_protocol }}</p>
        </div>

        <div class="list-container">
          <p class="list-title">协议参数(Protocol Param):</p>
          <p class="list-content">{{ server.config_protocol_param }}</p>
        </div>

        <div class="list-container">
          <p class="list-title">混淆(OBFS):</p>
          <p class="list-content">{{ server.config_obfs }}</p>
        </div>

        <div class="list-container">
          <p class="list-title">混淆参数(OBFS Param):</p>
          <p class="list-content">{{ server.config_obfs_param }}</p>
        </div>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
