<table mat-table [dataSource]="usersData" class="mat-elevation-z8">

   <ng-container matColumnDef="uid">
     <th mat-header-cell *matHeaderCellDef> uid </th>
     <td mat-cell *matCellDef="let user"> {{ user.uid }} </td>
   </ng-container>

  <ng-container matColumnDef="user_name">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let user"> {{ user.user_name }} </td>
  </ng-container>

  <ng-container matColumnDef="user_email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let user"> {{ user.user_email }} </td>
  </ng-container>

  <ng-container matColumnDef="service_port">
    <th mat-header-cell *matHeaderCellDef> Port </th>
    <td mat-cell *matCellDef="let user"> {{ user.service_port }} </td>
  </ng-container>

  <ng-container matColumnDef="service_password">
    <th mat-header-cell *matHeaderCellDef> Service Password </th>
    <td mat-cell *matCellDef="let user"> {{ user.service_password }} </td>
  </ng-container>

  <ng-container matColumnDef="service_traffic_total">
    <th mat-header-cell *matHeaderCellDef> Total </th>
    <td mat-cell *matCellDef="let user"> {{ user.service_traffic_total }} </td>
  </ng-container>

  <ng-container matColumnDef="service_traffic_used">
    <th mat-header-cell *matHeaderCellDef> Used </th>
    <td mat-cell *matCellDef="let user"> {{ user.service_traffic_used }} </td>
  </ng-container>

  <ng-container matColumnDef="account_type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let user"> {{ user.account_type }} </td>
  </ng-container>

  <ng-container matColumnDef="account_ref_uid">
    <th mat-header-cell *matHeaderCellDef> Ref. </th>
    <td mat-cell *matCellDef="let user"> {{ user.account_ref_uid }} </td>
  </ng-container>

  <ng-container matColumnDef="account_register_date">
    <th mat-header-cell *matHeaderCellDef> Register Date </th>
    <td mat-cell *matCellDef="let user"> {{ user.account_register_date }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnTitles"></tr>
  <tr mat-row *matRowDef="let row; columns: columnTitles"></tr>

</table>
