<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    class="sidenav"
    [fixedInViewport]="true"
    [fixedTopGap]="true"
    [fixedBottomGap]="true"
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="!isHandset">
    <mat-toolbar>
      <button
        (click)="sidenav.toggle()"
        mat-icon-button>
        <mat-icon aria-label="sidenav toggle button">arrow_back</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/users">Users</a>
      <a mat-list-item routerLink="/servers">Servers</a>
      <a mat-list-item routerLink="/inviteCodes">InviteCodes</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        *ngIf="!sidenav.opened"
        (click)="sidenav.toggle()"
        mat-icon-button>
        <mat-icon aria-label="sidenav toggle button">menu</mat-icon>
      </button>
      <button
        mat-icon-button
        routerLink="/home"
      ><mat-icon aria-label="home button">home</mat-icon></button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
